#GameOver {
  display: none;
  color: Red;
  font-size: 39px;
  margin:auto;
  margin-top: 200px;
  width:50%;
  text-align: center;
  height:10%;
}
#redo {
  color: Green;
}
#paddle {
  width: 150px;
  height: 15px;
  position: absolute;
  left: 100px;
  bottom: 100px;
}
#ball {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 100px;
  top: 150px;
}