div {
  color: green;
}

#paddle {
  width: 150px;
  height: 15px;
  position: absolute;
  left: 100px;
  bottom: 150px;
}
#ball {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 100px;
  top: 150px;
}